# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Data & Sessions
data/*.session
data/*.session-journal
data/*.pdf
data/*.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
